<div class="container-fluid">
    <br><br>
    <h5 class="alert alert-info"> Requisition# {{requisition.id}}</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Encumbered Funds</th>
                <th>Total Expenses</th>
                <th>Remaining Balance</th>
            </tr>
            <tr>
                <td>{{requisition.encumbered}}</td>
                <td>{{requisition.totalSpent}}</td>
                <td>{{requisition.balance}}</td>
            </tr>
        </thead>
    </table>
    
    <form action="/submitExpenses" method="POST">
        <h5 class="alert alert-info">Expense Report Draft</h5>
        <div class="form-group row">
            
            <div class="form-group col-sm-2" align="center">
                <label for="airfareInput" class="col-form-label">Airfare</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="airfareInput" placeholder="0.00" step="0.01" name="airfare"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-2" align="center">
                <label for="mileageInput" class="col-form-label">Mileage</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="mileageInput" placeholder="0.00" "step="0.01" name="mileage"/>
            </div>
            <div class="form-group col-sm-1"></div>
        </div>
        <div class="form-group row">
            <div class="form-group col-sm-2" align="center">
                <label for="baggageInput" class="col-form-label">Baggage</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="baggageInput" placeholder="0.00" step="0.01" name="baggage"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-2" align="center">
                <label for="carRentalInput" class="col-form-label">Car Rental</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="carRentalInput" placeholder="0.00" step="0.01" name="carRental"/>
            </div>
            <div class="form-group col-sm-1"></div>
        </div>
         <div class="form-group row">
            <div class="form-group col-sm-2" align="center">
                <label for="lodgingInput" class="col-form-label">Lodging</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="lodgingInput" placeholder="0.00" step="0.01" name="lodging"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-2" align="center">
                <label for="parkingInput" class="col-form-label">Parking</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="parkingInput" placeholder="0.00" step="0.01" name="parking"/>
            </div>
            <div class="form-group col-sm-1"></div>
        </div>
         <div class="form-group row border-bottom">
            <div class="form-group col-sm-2" align="center">
                <label for="mealsInput" class="col-form-label">Meals</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="mealsInput" placeholder="0.00" step="0.01" name="meals"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-2" align="center">
                <label for="taxiInput" class="col-form-label">Taxi</label>
            </div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="taxiInput" placeholder="0.00" step="0.01" name="taxi"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <br><br>
        </div>
        <input type="hidden" value="" name="expenseTotal"/>
        <input type="hidden" name="requisitionId" value="{{requisition.id}}" />
        <button type="submit" class="float-right" id="calculateButton">Calculate</button>
       
        {{!-- <button type="button" id="mealButton">Meals</button> --}}
    </form>
    
</div>
{{!-- <script src="./expense.js"></script> --}}