<table class="table table-striped">
  
{{#if flashes}}
{{ flashes }}
{{/if}}
  <h4>Budget for {{team.teamCode}} - {{team.teamName}}</h4>
  <thead class="thead-dark">
    <tr>
      <th>Team Budget</th>
      <th>Total Allocated</th>
      <th>Total Expenses</th>
      <th>Team Balance</th>
    </tr>
  </thead>
    <tr>
      <td>{{team.budget}}</td>
      <td>{{team.totalAllocated}}</td>
      <td>{{team.totalSpent}}</td>
      <td>{{team.balance}}</td>
   </tr>
</table> 
<br><br>
<h1>Members of {{team.teamCode}} - {{team.teamName}}</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>User Budget</th>
      <th>Total Encumbered</th>
      <th>Total Spent</th>
      <th>User Balance</th>
    </tr>
  </thead>
  {{#each teamUsers}}
    <tr>
      <td><a href="/editUser/{{this.id}}" class="btn btn-info" data-toggle="button">Edit Budget</a></td>
      <td>{{this.id}}</td>
      <td>{{this.firstName}} {{this.lastName}}</td>
      <td>{{this.email}}</td>
      <td>{{this.budget}}</td>
      <td>{{this.totalEncumbered}}</td>
      <td>{{this.totalSpent}}</td>
      <td>{{this.balance}}</td>
    </tr>
  {{/each}}
</table>